<div class="overflow-y-auto lg:overflow-x-hidden">
  <table class="min-w-full table-auto">
    <thead>
      <tr class="text-left md:text-center text-[#AF8260] text-shadow-2">
        <!-- <th class="w-1/7 px-4">Station id</th> -->
        <th class="w-1/7 px-4"></th>
        <th class="w-1/7 px-4">Name</th>
        <th class="w-1/7 px-4">State</th>
        <th class="w-1/7 px-4">County code</th>
        <th class="w-1/7 px-4">Longitude</th>
        <th class="w-1/7 px-4">Latitude</th>
        <!-- <th class="w-1/7 px-4">networkId</th> -->
        <th class="w-1/7 px-4">Created</th>
        <th class="w-1/7 px-4">Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let station of stations" class="text-left md:text-center">
        <!-- <td class="font-bold px-4">{{ station.id }}</td> -->
        <td class="px-4 py-1">
          <a [routerLink]="[mapRoute]" [queryParams]="{stationId: station.id}">
            <svg fill="none" stroke-width="1.5" class="size-6 stroke-gray-500" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"/></svg>
          </a>
        </td>
        <td class="px-4 py-1">{{ station.name }}</td>
        <td class="px-4 py-1">{{ station.state }}</td>
        <td class="px-4 py-1">{{ station.countryCode }}</td>
        <td class="px-4 py-1">{{ station.coordinates.latitude | number: '1.6-6' }}</td>
        <td class="px-4 py-1">{{ station.coordinates.longitude | number: '1.6-6' }}</td>
        <!-- <td class="px-4 py-1">{{ station.networkId }}</td> -->
        <td class="px-4 py-1">{{ station.createdAt | date }}</td>
        <td class="px-4 py-1">{{ station.updatedAt | date }}</td>

      </tr>
    </tbody>
  </table>
</div>

 <!-- Pagination -->
 @if ( pagination && pagination.totalPages > 1) {
  <div class="join flex justify-center mt-4">
    <button class="join-item btn tooltip" data-tip="First" [disabled]="pagination.page === 1" (click)="firstPage()">««</button>
    <button class="join-item btn tooltip" data-tip="Previous" [disabled]="pagination.page === 1" (click)="prevPage()">«</button>
    <button class="join-item btn">Page {{ pagination.page }} </button>
    <button class="join-item btn tooltip" data-tip="Next" [disabled]="pagination.page === pagination.totalPages" (click)="nextPage()">»</button>
    <button class="join-item btn tooltip" data-tip="Last" [disabled]="pagination.page === pagination.totalPages" (click)="lastPage()">»»</button>
  </div>
}
