@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/Inter-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Custom scrollbar - Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #777777 #484848;
  scroll-behavior: smooth;
}

/* Mapbox */
.mapboxgl-popup-close-button {
  width: 40px;
  height: 40px;
}

.mapboxgl-popup-content {
  padding: 4;
  /* width: 180px; */
}
